<h2>Categories List</h2>
<button (click)="createCategory()" mat-fab extended color="primary">
  <mat-icon>add</mat-icon>
  Add category
</button>

<table mat-table [dataSource]="categories">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let category">{{category.categoryId}}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let category">{{category.title}}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let category">{{category.description}}</td>
  </ng-container>

  <ng-container matColumnDef="css_color">
    <th mat-header-cell *matHeaderCellDef>Color</th>
    <td mat-cell *matCellDef="let category">{{category.css_color}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let category">
      <button (click)="updateCategory(category.categoryId)" mat-icon-button matTooltip="Basic">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="deleteCategory(category.categoryId)" mat-icon-button matTooltip="Basic">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  <!-- <thead>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>CSS COLOR</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.categoryId }}</td>
      <td>{{ category.title }}</td>
      <td>{{ category.description }}</td>
      <td>{{ category.css_color }}</td>
      <td>
        <button (click)="updateCategory(category.categoryId)">UPDATE</button>
        <button (click)="deleteCategory(category.categoryId)">DELETE</button>
      </td>
    </tr>
  </tbody> -->
</table>
