<div style="margin-left: auto; margin-right: auto">
  <p id="registerFeedback"></p>
</div>

<div>
  <h1>Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="register()">

    <mat-form-field>
      <mat-label for="name">Name</mat-label>
      <input type="text" matInput [formControl]="name" />

      <mat-error *ngIf="name.hasError('required')">Name is required</mat-error>
      <mat-error *ngIf="name.hasError('minlength')">Name must be at least 5 characters long.</mat-error>
      <mat-error *ngIf="name.hasError('maxlength')">Name can be max 25 characters long</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="surname_1">Surname 1</mat-label>
      <input type="text" matInput [formControl]="surname_1" />

      <mat-error *ngIf="surname_1.hasError('required')">Surname 1 is required</mat-error>
      <mat-error *ngIf="surname_1.hasError('minlength')">Surname 1 must be at least 5 characters long.</mat-error>
      <mat-error *ngIf="surname_1.hasError('maxlength')">Surname 1 can be max 25 characters long</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="surname_2">Surname 2</mat-label>
      <input type="text" matInput [formControl]="surname_2" />

      <mat-error *ngIf="surname_2.hasError('minlength')">Surname 2 must be at least 5 characters long.</mat-error>
      <mat-error *ngIf="surname_2.hasError('maxlength')">Surname 2 can be max 25 characters long</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="alias">Alias</mat-label>
      <input type="text" matInput [formControl]="alias" />

      <mat-error *ngIf="alias.hasError('required')">Alias is required</mat-error>
      <mat-error *ngIf="alias.hasError('minlength')">Alias must be at least 5 characters long.</mat-error>
      <mat-error *ngIf="alias.hasError('maxlength')">Alias can be max 25 characters long</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Birth date</mat-label>
      <input type="date" matInput [formControl]="birth_date">
      <mat-icon matSuffix>calendar_today</mat-icon>
      <mat-hint>MM/DD/YYYY</mat-hint>

      <mat-error *ngIf="birth_date.hasError('required')">Birth date is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="email">Email</mat-label>
      <input type="email" matInput [formControl]="email">

      <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="email.hasError('pattern')">Email format not a valid</mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label for="password">Password</mat-label>
      <input type="password" matInput [formControl]="password">

      <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="password.hasError('minlength')">Password must have at least 8 characters</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
  </form>
</div>
