<div style="margin-left: auto; margin-right: auto">
  <p id="postFeedback"></p>
</div>
<div>
  <h1>Post form</h1>
  <form *ngIf="postForm" [formGroup]="postForm" (ngSubmit)="savePost()">

    <mat-form-field>
      <mat-label for="title">Title</mat-label>
      <input matInput type="text" [formControl]="title" />

      <mat-error *ngIf="title.hasError('required')">Title is required</mat-error>
      <mat-error *ngIf="title.hasError('maxlength')">Title can be max 55 characters long.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="description">Description</mat-label>
      <input matInput type="text" [formControl]="description" />

      <mat-error *ngIf="description.hasError('required')">Description is required</mat-error>
      <mat-error *ngIf="description.hasError('maxlength')">Description can be max 255 characters long.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="publicationDate">Publication date</mat-label>
      <input type="date" matInput [formControl]="publication_date" />
      <mat-icon matSuffix>calendar_today</mat-icon>
      <mat-hint>DD/MM/YYYY</mat-hint>

      <mat-error *ngIf="publication_date.hasError('required')">Publication date is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="categories">Choose categories:</mat-label>
      <mat-select [formControl]="categories" multiple>
        <mat-option
          *ngFor="let category of categoriesList"
          [value]="category.categoryId"
        >
          {{ category.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">Save</button>
    
  </form>
</div>
